# Assignment_1 Questions & Answers :

Q1. Create one variable containing following type of data:-
(i) string
(ii) list
(iii) float
(iv) tuple
Ans : 
(i) string :-
    a = "dheeraj"
    
(ii) list :-
    b=[1,2,3.5,"dheeraj",True]
        
(iii) float :-
    c=89.75
        
(iv) tuple :-
    d=(1,2,3.5,"dheeraj",True)

Q2. Given are some following variables containing data:-
 (i) var1 = ‘ ‘
 (ii) var2 = ‘[DS ,  ML , Python]’
 (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
 (iv) var4 = 1.
 What will be the data type of the above given variable ?.
 Ans : 
 (i) str
 (ii) Syntax Error
 (iii) list
 (iv) int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
Ans :
(i) / : Division
    eg:- 5/4 = 1.25

(ii) % : Modulo
    eg:- 5%4 = 1
    
(iii) // : Floor Division
    eg:- 5//4 = 1
    
(iv) ** : Power
    eg:- 5**4 = 625

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
 Ans :

In [1]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
#Ans : 
list = [1,2.5,'c',True,False,'Tiger',46.5,35,'dheeraj', 4+6j]
for i in list:
    print(i,type(i))

1 <class 'int'>
2.5 <class 'float'>
c <class 'str'>
True <class 'bool'>
False <class 'bool'>
Tiger <class 'str'>
46.5 <class 'float'>
35 <class 'int'>
dheeraj <class 'str'>
(4+6j) <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans : 
=> A is purely divisible by no. B
       A%B = 0
    
=> It must be divisible by B factor.

In [2]:
def count_divisibility(A, B):
    if B == 0:
        return "Division by zero is not allowed."

    count = 0
    while A % B == 0:
        A //= B
        count += 1

    return count

In [4]:
#dynamic
A=int(input())
B=int(input())
result = count_divisibility(A, B)
if result == 1:
    print("{} is divisible by {} exactly {} times.".format(A,B,result))
elif result == 0:
    print("{} is not divisible by {} .".format(A,B))
else:
    print("{} is divisible by {} exactly {} times.".format(A,B,result))

 6
 3

6 is divisible by 3 exactly 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans :

In [5]:
#Q6.
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in list:
    if i%3 == 0:
        print(i,"divisible by 3")
    else:
        print(i,"Not divisible by 3 ")

1 Not divisible by 3
2 Not divisible by 3
3 divisible by 3
4 Not divisible by 3
5 Not divisible by 3
6 divisible by 3
7 Not divisible by 3
8 Not divisible by 3
9 divisible by 3
10 Not divisible by 3
11 Not divisible by 3
12 divisible by 3
13 Not divisible by 3
14 Not divisible by 3
15 divisible by 3
16 Not divisible by 3
17 Not divisible by 3
18 divisible by 3
19 Not divisible by 3
20 Not divisible by 3
21 divisible by 3
22 Not divisible by 3
23 Not divisible by 3
24 divisible by 3
25 Not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans : Mutable & Immutable data types :

=> Mutable data types :- A mutable data type is those whose values can be changed.
=> Immutable data types :- A immutable data type is one in which the values can not be changed or altered.

In [6]:
#Eg:-
#(i)List is mutable data type :
list = ['a',2.5,'dheeraj','yadav']
list[3]='singh'
list

['a', 2.5, 'dheeraj', 'singh']

In [7]:
#(ii)String(str) is immutable data type :
str = "dheerajrsingh"
str[8]="yadav"
str

TypeError: 'str' object does not support item assignment