### Q1. List any five functions of the pandas library with execution.

Five commonly used functions of the Pandas library with examples and execution:

1)df.head()

2)df.tail()

3)df.info()

4)df.describe()

5)df.shape

In [2]:
import pandas as pd
data = {
    "Name": ["Dheeraj", "Rahul", "Sneha", "Priya", "Amit"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 90, 88, 92, 79]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Marks
0  Dheeraj   22     85
1    Rahul   25     90
2    Sneha   23     88
3    Priya   24     92
4     Amit   26     79

In [3]:
#1
print(df.head())

      Name  Age  Marks
0  Dheeraj   22     85
1    Rahul   25     90
2    Sneha   23     88
3    Priya   24     92
4     Amit   26     79

In [4]:
#2
print(df.tail())

      Name  Age  Marks
0  Dheeraj   22     85
1    Rahul   25     90
2    Sneha   23     88
3    Priya   24     92
4     Amit   26     79

In [5]:
#3
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Marks   5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [6]:
#4
print(df.describe())

             Age      Marks
count   5.000000   5.000000
mean   24.000000  86.800000
std     1.581139   5.069517
min    22.000000  79.000000
25%    23.000000  85.000000
50%    24.000000  88.000000
75%    25.000000  90.000000
max    26.000000  92.000000

In [7]:
#5
df.shape

(5, 3)

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index starting from 1 with step of 2
    new_index = range(1, 2 * len(df) + 1, 2)

    # Assign new index to DataFrame
    df.index = new_index

    return df

In [9]:
# Sample DataFrame
data = {
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Re-indexing
df = reindex_dataframe(df)

print("\nRe-indexed DataFrame:")
print(df)

Original DataFrame:
    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

Re-indexed DataFrame:
    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [10]:
import pandas as pd

def sum_first_three(df):
    total = 0

    # Iterate over the first three values in 'Values' column
    for value in df['Values'].head(3):
        total += value

    print("Sum of first three values:", total)

In [11]:
# Sample DataFrame
data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

sum_first_three(df)

Sum of first three values: 60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
import pandas as pd

def add_word_count(df):
    # Create new column by counting words in each row
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

    return df

In [13]:
# Sample DataFrame
data = {
    'Text': [
        "Python is powerful",
        "Pandas makes data analysis easy",
        "Data Science is interesting"
    ]
}

df = pd.DataFrame(data)

df = add_word_count(df)

print(df)

                              Text  Word_Count
0               Python is powerful           3
1  Pandas makes data analysis easy           5
2      Data Science is interesting           4

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans:

Difference Between DataFrame.size and DataFrame.shape

| Feature         | `DataFrame.size`                          | `DataFrame.shape`                  |
| --------------- | ----------------------------------------- | ---------------------------------- |
| **Meaning**     | Total number of elements in the DataFrame | Returns dimensions (rows, columns) |
| **Return Type** | Integer                                   | Tuple                              |
| **Formula**     | rows Ã— columns                            | (rows, columns)                    |
| **Usage**       | To know total values                      | To know structure                  |

In [14]:
import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}

df = pd.DataFrame(data)

print("Shape:", df.shape)
print("Size:", df.size)

Shape: (3, 2)
Size: 6

#### Q6. Which function of pandas do we use to read an excel file?
Ans:

Function to Read an Excel File in Pandas

-> pd.read_excel("filename.xlsx")

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [16]:
import pandas as pd

def extract_username(df):
    # Extract text before '@' and create new column
    df['Username'] = df['Email'].str.split('@').str[0]

    return df

In [17]:
# Sample DataFrame
data = {
    'Email': [
        'john.doe@example.com',
        'dheeraj123@gmail.com',
        'rahul_sharma@yahoo.com'
    ]
}

df = pd.DataFrame(data)

df = extract_username(df)

print(df)

                    Email      Username
0    john.doe@example.com      john.doe
1    dheeraj123@gmail.com    dheeraj123
2  rahul_sharma@yahoo.com  rahul_sharma

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows:

A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [18]:
import pandas as pd

def filter_dataframe(df):
    # Select rows where A > 5 and B < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]

    return filtered_df

In [19]:
# Sample DataFrame
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Apply filter
result = filter_dataframe(df)

print("\nFiltered DataFrame:")
print(result)

Original DataFrame:
   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

Filtered DataFrame:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [20]:
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()

    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_value)

In [21]:
# Sample DataFrame
data = {
    'Values': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Ans:

In [22]:
import pandas as pd

def add_moving_average(df):
    # Ensure Date column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort by Date (important for correct rolling calculation)
    df = df.sort_values('Date')

    # Calculate 7-day moving average including current day
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()

    return df

In [23]:
# Sample DataFrame
data = {
    'Date': pd.date_range(start='2024-01-01', periods=10),
    'Sales': [100, 120, 130, 90, 150, 200, 170, 180, 160, 140]
}

df = pd.DataFrame(data)

df = add_moving_average(df)

print(df)

        Date  Sales  MovingAverage
0 2024-01-01    100            NaN
1 2024-01-02    120            NaN
2 2024-01-03    130            NaN
3 2024-01-04     90            NaN
4 2024-01-05    150            NaN
5 2024-01-06    200            NaN
6 2024-01-07    170     137.142857
7 2024-01-08    180     148.571429
8 2024-01-09    160     154.285714
9 2024-01-10    140     155.714286

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05


Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [24]:
import pandas as pd

def add_weekday_column(df):
    # Convert Date column to datetime format (if not already)
    df['Date'] = pd.to_datetime(df['Date'])

    # Create new column with weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df

In [25]:
# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04']
}

df = pd.DataFrame(data)

df = add_weekday_column(df)

print(df)

        Date    Weekday
0 2024-01-01     Monday
1 2024-01-02    Tuesday
2 2024-01-03  Wednesday
3 2024-01-04   Thursday

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
import pandas as pd

def filter_january_2023(df):
    # Convert Date column to datetime (if not already)
    df['Date'] = pd.to_datetime(df['Date'])

    # Define date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Filter rows between the dates (inclusive)
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return filtered_df

In [27]:
# Sample DataFrame
data = {
    'Date': pd.date_range(start='2022-12-25', periods=40),
    'Sales': range(40)
}

df = pd.DataFrame(data)

result = filter_january_2023(df)

print(result)

         Date  Sales
7  2023-01-01      7
8  2023-01-02      8
9  2023-01-03      9
10 2023-01-04     10
11 2023-01-05     11
12 2023-01-06     12
13 2023-01-07     13
14 2023-01-08     14
15 2023-01-09     15
16 2023-01-10     16
17 2023-01-11     17
18 2023-01-12     18
19 2023-01-13     19
20 2023-01-14     20
21 2023-01-15     21
22 2023-01-16     22
23 2023-01-17     23
24 2023-01-18     24
25 2023-01-19     25
26 2023-01-20     26
27 2023-01-21     27
28 2023-01-22     28
29 2023-01-23     29
30 2023-01-24     30
31 2023-01-25     31
32 2023-01-26     32
33 2023-01-27     33
34 2023-01-28     34
35 2023-01-29     35
36 2023-01-30     36
37 2023-01-31     37

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans:

To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is:

import pandas as pd

In [28]:
import pandas as pd

data = {'A': [1, 2, 3]}
df = pd.DataFrame(data)

print(df)

   A
0  1
1  2
2  3