In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

# Create the Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
import pandas as pd
var = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(var)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3. Create a Pandas DataFrame that contains the following data:
# Name, Age, Gender.
# Alice, 25, Female
# Bob, 30, male
# Claire, 27, Female
# Then, print the DataFrame.
import pandas as pd

# Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'male', 'Female']
}
print(pd.DataFrame(data))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:

A DataFrame in pandas is a 2-dimensional, tabular data structure with labeled rows and columns — similar to an Excel sheet or SQL table.

It can store:

1)Different data types in different columns

2)Multiple rows and columns

3)Structured datasets

A Series is a 1-dimensional labeled array capable of holding any data type (integer, string, float, etc.).
Stores a single column of data Or a single row of data.

Differnce:

| Feature    | Pandas Series           | Pandas DataFrame                |
| ---------- | ----------------------- | ------------------------------- |
| Dimension  | 1-D                     | 2-D                             |
| Structure  | Single column           | Multiple columns                |
| Data Types | One data type (usually) | Different data types per column |
| Example    | Marks of students       | Full student result sheet       |

In [4]:
# example
import pandas as pd

# Creating a Series
marks = pd.Series([85, 90, 78, 92])
print("Series:\n", marks)

# Creating a DataFrame
data = {
    "Name": ["Aman", "Riya", "Rahul", "Neha"],
    "Marks": [85, 90, 78, 92]
}

df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

Series:
 0    85
1    90
2    78
3    92
dtype: int64

DataFrame:
     Name  Marks
0   Aman     85
1   Riya     90
2  Rahul     78
3   Neha     92

##### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans:



## Common Functions to Manipulate Data in a Pandas DataFrame



| Function                  | Code Example                                           | Purpose                                                                   |
| ------------------------- | ------------------------------------------------------ | ------------------------------------------------------------------------- |
| **View first rows**       | `df.head()`                                            | Displays first 5 rows of the DataFrame                                    |
| **View last rows**        | `df.tail()`                                            | Displays last 5 rows of the DataFrame                                     |
| **Dataset summary**       | `df.info()`                                            | Shows column names, data types, and null values                           |
| **Statistical summary**   | `df.describe()`                                        | Gives statistical summary (mean, std, min, max, etc.) for numeric columns |
| **Drop column**           | `df.drop("Age", axis=1, inplace=True)`                 | Removes a specific column                                                 |
| **Fill missing values**   | `df.fillna(0, inplace=True)`                           | Replaces null values with a specified value                               |
| **Remove missing values** | `df.dropna(inplace=True)`                              | Removes rows with null values                                             |
| **Group & aggregate**     | `df.groupby("Department")["Salary"].mean()`            | Groups data and performs aggregation (e.g., average salary)               |
| **Sort values**           | `df.sort_values("Marks", ascending=False)`             | Sorts data based on column values                                         |
| **Apply function**        | `df["Bonus"] = df["Salary"].apply(lambda x: x * 0.10)` | Applies a function to a column                                            |

---

### Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?
All three — Series, DataFrame, and Panel — are mutable in nature.

Series, DataFrame, and Panel are all mutable in nature because their data can be modified after creation.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

A DataFrame in pandas can be created by combining multiple Series objects.
Each Series becomes a column in the DataFrame.

DataFrame = Collection of Series arranged as columns

In [2]:
import pandas as pd

# Create multiple Series
names = pd.Series(["Aman", "Riya", "Rahul", "Neha"])
marks = pd.Series([85, 90, 78, 92])
grades = pd.Series(["A", "A+", "B", "A+"])

# Combine Series into a DataFrame
df = pd.DataFrame({
    "Name": names,
    "Marks": marks,
    "Grade": grades
})

print(df)

    Name  Marks Grade
0   Aman     85     A
1   Riya     90    A+
2  Rahul     78     B
3   Neha     92    A+